[Desktop Entry]
Encoding=UTF-8
Name=Link to SO on socket timers
Type=Link
URL=http://stackoverflow.com/questions/4181784/how-to-set-socket-timeout-in-c-when-making-multiple-connections
Icon=text-html
Name[en_US]=socket_timers
